@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto&display=swap');


* { margin: 0; padding: 0; text-decoration: none; color: white; font-family: 'Roboto', sans-serif;}

body {
	display: flex;
	justify-content: center;
	align-items: center;

	min-height: 100vh;
	
	background-size: cover;	
	background-position: center;
}

.bg-op-page {
	position: fixed;
	width: -webkit-fill-available;
	height: -webkit-fill-available;
}

.server-status-checker { 
	z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 20px;
    top: 20px;
    padding: 10px 33px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s;
    
    
}

.server-status-checker img {
	max-width: 50px;
}

.server-status-checker span {
	margin: 0 12px;
}

.server-status-checker:active  {
	opacity: 0.4 !important;
	
}

.website-content {z-index: 100; display: grid; justify-content: center;}


.website-logo { max-width: 40%; min-width: 30%; margin: 0 auto; animation: float 2s infinite}


.website-urls {
	display: flex;
	align-items: center;
	justify-content: center;
	width: fit-content;
	margin: 0 auto;
}

.website-urls a {
	display: grid;
	justify-content: center;
	align-items: center;
	margin: 0px 10px;
}

.website-urls a p {
	padding: 10px 30px;
    margin: 0px 10px;
    border-radius: 13px;
    text-align: center;

    font-weight: bold;
}

.website-urls a img {
	min-width: 40px;
	max-width: 120px;
	margin: 20px 12px;

	transform: scale(0.8);
	transition: .2s;
}

.website-urls a:hover > img {
	transform: scale(0.9);
}

@keyframes float {0% {transform: translate(0px,0px);}50% {transform: translate(0px,-10px);}100% {transform: translate(0px,0px);}}
@-webkit-keyframes slide-in-right{0%{-webkit-transform:translateX(1000px);transform:translateX(1000px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}@keyframes slide-in-right{0%{-webkit-transform:translateX(1000px);transform:translateX(1000px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}